@charset "UTF-8";

@font-face {
    font-family: Now;
    src: url(../fontes/now/Now-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Now;
    src: url(../fontes/now/Now-Regular.otf);
}

@font-face {
    font-family: Now;
    src: url(../fontes/now/Now-Bold.otf);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #141F51;
    --cor02: #6E9DC9;
    --cor03: #528F92;
    --cor04: #6EC2C6;
    --cor05: #98D4E0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Now;
    font-size: 1.6rem;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "menu main";
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 10vh 1fr;
    transition: all 200ms;
}

#cabecalho {
    z-index: 1;
    grid-area: header;
    min-height: 10vh;
    padding: 0 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor04);
    box-shadow: 0 2px 2vh #000000b3;
}

#cabecalho button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms;
}

#cabecalho button:hover {
    color: var(--cor01);
}

#cabecalho .material-symbols-outlined {
    font-size: max(3.2rem, 3vw);
    font-variation-settings: 'FILL' 1;
}

#cabecalho #links {
    font-size: max(1.4rem, 1.2vw);
    display: flex;
    align-items: center;
    gap: 1vw;
}

#menu {
    position: relative;
    background-color: var(--cor03);
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    transition: all 200ms;
}

#menu * {
    transform: translateX(-20vw);
}

#menu.aberto * {
    transform: translateX(0);
}

#menu-lista {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#menu-lista .item {
    font-size: max(1.6rem, 1.5vw);
    color: white;
    text-decoration: none;
    padding: 2.5vh 2vw;
    transition: all 200ms;
}

#menu-lista .item:hover {
    color: var(--cor01);
    border-left: solid 1vw white;
}

#menu-lista .item.selecionado {
    color: var(--cor01);
    border-left: solid .5vw;
}

main {
    grid-area: main;
    overflow-y: auto;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    width: .8vw;
}

main::-webkit-scrollbar-track {
    background-color: white;
}

main::-webkit-scrollbar-thumb {
    border-radius: calc(.8vw / 2);
    border: .2vw solid white;
    background-color: var(--cor01);
}

main .topo {
    background-color: var(--cor04);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.topo img {
    height: 100%;
}

.botoes-topo, 
.botoes-fim {
    width: 100%;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botoes-topo button, .botoes-fim button {
    cursor: pointer;
    background-color: var(--cor04);
    border: none;
    box-shadow: 0 0 5px var(--cor01);
    outline: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes-topo button .material-symbols-outlined, 
.botoes-fim button .material-symbols-outlined {
    font-size: max(3.2rem, 3vw);
    color: white;
    transition: all 200ms;
}

.botoes-topo button:hover .material-symbols-outlined, 
.botoes-fim button:hover .material-symbols-outlined {
    color: black;
}

#rodape {
    width: 95%;
    margin: auto;
    margin-top: 6vh;
    position: relative;
    padding: 1vh 0 0 0;
    display: grid;
    grid-template-areas:
        "area1 area2"
        "copyright copyright";
    gap: 2vh 2vw;
    justify-items: center;
}

#rodape::before {
    content: '';
    height: 1vh;
    position: absolute;
    top: -3vh;
    left: 0;
    right: 0;
    border-radius: 1em;
    background-color: var(--cor03);
}

#rodape div:nth-of-type(1) {
    grid-area: area1;
}

#rodape div {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#rodape div .titulo {
    font-size: max(1.2rem, 1.2vw);
}

#rodape ul {
    font-size: max(1rem, 1vw);
    list-style: none;
    color: gray;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#rodape ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#copyright {
    grid-area: copyright;
    justify-self: stretch;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
